<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TRAVEL WITH US</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
   
</head>
<body>
    @Html.Partial("_NavBar")
    
    <div class="container body-content">
        @RenderBody()
        
        <footer class="modal-footer">
            <p>&copy; @DateTime.Now.Year - TRAVEL WITH US</p>
        
        </footer>


    </div>
  
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/bootstrap")*@
    <script src="~/Scripts/bootstrap.bundle.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
